repositories:
  - name: traefik
    url: https://helm.traefik.io/traefik

releases:
  - name: traefik
    version: 39.0.0
    atomic: true
    namespace: kube-system
    chart: traefik/traefik
    apiVersions:
      - "monitoring.coreos.com/v1"
    values:
      - values.yaml
