defaultPodOptions:
  automountServiceAccountToken: false

controllers:
  main:
    containers:
      main:
        image:
          repository: linuxserver/code-server
          tag: 4.102.3
          pullPolicy: IfNotPresent

service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 8443

persistence:
  config:
    enabled: true
    type: hostPath
    hostPath: /appdata/k3s/code-server
    globalMounts:
      - path: /config
  appdata:
    enabled: true
    type: hostPath
    hostPath: /appdata
    globalMounts:
      - path: /appdata
  nebula-downloads:
    enabled: true
    type: hostPath
    hostPath: /mnt/nebula/downloads
    globalMounts:
      - path: /mnt/nebula/downloads
  storage-ww:
    enabled: true
    type: hostPath
    hostPath: /storage/ww
    globalMounts:
      - path: /storage/ww
  openclaw:
    enabled: true
    type: hostPath
    hostPath: /home/kira/.openclaw
    globalMounts:
      - path: /home/kira/.openclaw

ingress:
  main:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: code.hobroker.me
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
