defaultPodOptions:
  automountServiceAccountToken: false

controllers:
  main:
    containers:
      main:
        image:
          repository: caronc/apprise
          tag: 1.3
          pullPolicy: IfNotPresent

service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 8000

persistence:
  config:
    enabled: true
    type: hostPath
    hostPath: /appdata/k3s/apprise
    globalMounts:
      - path: /config
