defaultPodOptions:
  automountServiceAccountToken: false

controllers:
  main:
    containers:
      main:
        image:
          repository: n8nio/n8n
          tag: 2.7.0
          pullPolicy: IfNotPresent
        env:
          GENERIC_TIMEZONE: "Europe/Chisinau"
          N8N_HOST: "n8n.hobroker.me"
          WEBHOOK_URL: "https://n8n.hobroker.me/"
          N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
          N8N_RUNNERS_ENABLED: true

service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 5678

persistence:
  config:
    enabled: true
    type: hostPath
    hostPath: /appdata/k3s/n8n
    globalMounts:
      - path: /home/node/.n8n

ingress:
  main:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: n8n.hobroker.me
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
